@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <img src="~/images/website_logo_solid_background.png" height="70" width="150" />

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@localizer["Home"]</a>
                    </li>
                    @if ((User.Identity.IsAuthenticated))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">@localizer["Search"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Properties" asp-action="Index">
                                @((User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Manager)) ? "Property" : "My Properties")
                            </a>
                        </li>
                        if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Manager))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="File" asp-action="Index">Images</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Improvements" asp-action="Index">Facilities</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">System</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-area="" asp-action="Index" asp-controller="Cities">Cities</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Stations" asp-action="Index">Transport</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Callbacks" asp-action="Index">Callbacks</a>
                                </div>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">@localizer["Search"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">@localizer["About us"]</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>