@model IEnumerable<WebApplicationProperty.Models.Station>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeoLong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeoLat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoLong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeoLat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StationId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
