@{
    ViewData["Title"] = "Home Page";
}

@using WebApplicationProperty.ViewModel
@model IndexViewModel

<form data-ajax="true" data-ajax-mode="replace" method="get" data-ajax-update="#theListContent" data-ajax-url="@Url.Action("SearchResult","Home")" class="w-100">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span>Contract types</span><br />
                            <select id="propertyContractType" name="propertyContractType" style="margin-right: 30px;"
                                    asp-for="@Model.PropertyContractType" asp-items="Html.GetEnumSelectList<PropertyContractType>()"></select>
                        </li>
                        <li class="nav-item">
                            <label for="amount">Price:</label><br />
                            <input type="text" id="amount" name="amount" readonly style="border:0; color:#f6931f; font-weight:bold; width:180px; margin-right: 30px;">
                            <div id="slider-range" style="width:150px; margin-right: 30px;"></div>

                        </li>

                        <li class="nav-item">
                            <span>Bedrooms</span><br />
                            <select id="propertyBedrooms" style="margin-right: 30px;" name="propertyBedrooms" asp-for="@Model.Bedrooms" asp-items="Html.GetEnumSelectList<BedRooms>()">
                            </select>
                        </li>
                        <li class="nav-item">
                            <span>Province</span><br />
                            <select style="margin-right: 30px;" name="province" id="province">
                                <option value="sdcsdcsd">erververvee</option>
                                <option value="sdcsdcsd">verververvevev</option>
                                <option value="sdcsdcsd">erverveverveev</option>
                                <option value="sdcsdcsd">erververve</option>
                                <option value="sdcsdcsd">ervvrervev</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <span>District</span><br />
                            <select style="margin-right: 30px;" name="province" id="province">
                                <option value="sdcsdcsd">erververvee</option>
                                <option value="sdcsdcsd">verververvevev</option>
                                <option value="sdcsdcsd">erverveverveev</option>
                                <option value="sdcsdcsd">erververve</option>
                                <option value="sdcsdcsd">ervvrervev</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <span>Station</span><br />
                            <select style="margin-right: 30px;" name="province" id="province">
                                <option value="sdcsdcsd">erververvee</option>
                                <option value="sdcsdcsd">verververvevev</option>
                                <option value="sdcsdcsd">erverveverveev</option>
                                <option value="sdcsdcsd">erververve</option>
                                <option value="sdcsdcsd">ervvrervev</option>
                            </select>
                        </li>
                        <li class="nav-item">
                            <span>Property types</span><br />
                                                       <select id="propertyType" style="margin-right: 30px;"  name="propertyType"
                                                           asp-for="@Model.PropertyType" asp-items="Html.GetEnumSelectList<PropertyType>()">
                                                       </select>
                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" id="submitFormBtn" />
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2" id="improvement">
            <input type="text" style="visibility:hidden;" id="minvalue" name="minvalue" />
            <input type="text" style="visibility:hidden;" id="maxvalue" name="maxvalue" />
            @* @foreach (var impType in Model?.Improvements?.GroupBy(x => x.Type).ToDictionary(x => x.Key, x => x.ToList()) ?? new Dictionary<ImprovementType, List<Improvement>>())
                {
                    <div class="card">
                        <div class="card-header dropdown-toggle" id="heading-@impType.Key" style="padding: 0.1em 1.25em;">
                            <button class="btn btn-link text-left w-100" data-toggle="collapse" data-target="#collapse-@impType.Key" aria-controls="collapse-@impType.Key" aria-expanded="true">
                                @impType.Key.ToString()
                            </button>
                        </div>
                    </div>
                    <div id="collapse-@impType.Key" class="collapse show" aria-labelledby="heading-@impType.Key" data-parent="#improvement">
                        <div class="card-body border">
                            @foreach (var improvment in impType.Value)
                            {
                                <div>
                                    <input type="checkbox" id="selectedBasic" name="selectedBasic" value="@improvment.Id" />
                                    <span>@improvment.Name</span>
                                </div>
                            }
                        </div>
                    </div>
                }*@
        </div>
        <div class="col-sm-9">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item @(Model.Page==1?"active":"")"><a class="page-link" href="?page=1&take=25">1</a></li>
                    <li class="page-item @(Model.Page==2?"active":"")"><a class="page-link" href="?page=2&take=25">2</a></li>
                    <li class="page-item @(Model.Page==3?"active":"")"><a class="page-link" href="?page=3&take=25">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

            <div id="theListContent">
                <partial name='_PropertySearchPartial' model='Model' />
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item @(Model.Page==1?"active":"")"><a class="page-link" href="?page=1&take=25">1</a></li>
                    <li class="page-item @(Model.Page==2?"active":"")"><a class="page-link" href="?page=2&take=25">2</a></li>
                    <li class="page-item @(Model.Page==3?"active":"")"><a class="page-link" href="?page=3&take=25">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</form>
<div name="result3" id="result3"></div>
@section Scripts
{
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script>
        var propertyContractType = document.getElementById("propertyContractType").value;
        $('#propertyContractType').change(function () {
                $("#submitFormBtn").click();
        });
        $('#propertyType').change(function () {
            $("#submitFormBtn").click();
        });
        $('#propertyBedrooms').change(function () {
            $("#submitFormBtn").click();
        });
        @*
        var min = 0;
        var max = 150000;
         document.getElementById("minvalue").value = 0;
         document.getElementById("maxvalue").value = 150000;
        $(document).ready(function(){
            $("select.propertyContractType").change(function(){
            var propertyContractType = $(this).children("option:selected").val();
            document.getElementById("propertyContractType").value = propertyContractType;

            alert(propertyContractType);
            if(propertyContractType == 1){
                document.getElementById("minvalue").value = 9999;
                document.getElementById("maxvalue").value = 150000;
                 $('#slider-range').slider("option", "max", 150000);
            }
            else if(propertyContractType == 2){
                min = 2;
                max = 100;
                document.getElementById("minvalue").value = 2;
                document.getElementById("maxvalue").value = 150;
                 $('#slider-range').slider("option", "max", 150);
            }
            else{
                document.getElementById("minvalue").value = 2;
                document.getElementById("maxvalue").value = 150;
            }
        });
        });*@
        //$(function () {
        //    $("#slider-range").slider({
        //        range: true,
        //        min: min,
        //        max: max,
        //        values: [min, max],
        //        slide: function (event, ui) {
        //            $("#amount").val("฿" + ui.values[0] + "  - ฿" + ui.values[1]+" ");
        //            $("#maxvalue").val(ui.values[1]);
        //            $("#minvalue").val(ui.values[0]);
        //        },
        //    });

        //    $("#amount").val("฿" + $("#slider-range").slider("values", 0) +
        //        " - ฿" + $("#slider-range").slider("values", 1)+"");
        //     $("#maxvalue").slider('values',0,$(this).val());
        //     $("#minvalue").slider('values',0,$(this).val());
        //});



    </script>
}
