@{
    ViewData["Title"] = "Home Page";
}

@using WebApplicationProperty.ViewModel
@model IndexViewModel

<form data-ajax="true" data-ajax-mode="replace" method="post" data-ajax-update="#theListContent" data-ajax-url="@Url.Action("SearchResult","Home")" class="w-100">
    <div class="row">
        <div class="col-md">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item" style="margin-left:10px">
                            <span>Contract types</span>
                            <select name="propertyContractType">
                                <option value="0">Any</option>
                                <option value="1">For rent</option>
                                <option value="2">For sale</option>
                                <option value="3">For sale or rent</option>
                            </select>

                        </li>
                        <li class="nav-item" style="margin-left:10px">
                            <span>$ Price</span>
                            <select id="propertyPrice" name="propertyPrice">
                                <option value="0">Any</option>
                                <option>< ฿2M</option>
                                <option>฿2M-฿3M</option>
                                <option>฿3M-฿5M</option>
                                <option>฿5M-฿10M</option>
                                <option>฿10M-฿14M</option>
                                <option>฿15M-฿25M</option>
                                <option>฿25M-฿50M</option>
                                <option>฿50M-฿100M</option>
                            </select>
                        </li>
                        <li class="nav-item" style="margin-left:10px">
                            <span>Bedrooms</span>
                            <select id="propertyBedrooms" name="propertyBedrooms">
                                <option value="0">Any</option>
                                <option value="1">1+ Beds </option>
                                <option>2+ Beds</option>
                                <option>3+ Beds </option>
                                <option>4+ Beds</option>
                            </select>
                        </li>
                        <li class="nav-item" style="margin-left:10px">
                            <span>Property types</span>
                            <select id="propertyTypes" name="propertyTypes">
                                <option value="0">Any</option>
                                <option value="1">Townhouse </option>
                                <option>House</option>
                                <option>Condominium</option>
                                <option>Apartment</option>
                                <option>Shop house</option>
                                <option>Office</option>
                                <option>Land</option>
                                <option>Penthouse</option>
                                <option>Retail</option>
                                <option>Business</option>
                                <option>Factory</option>
                                <option>Commercial Building</option>
                                <option>Hotel / Resort</option>
                                <option>Other commercial</option>
                            </select>
                        </li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" id="search" name="search" placeholder="Search" aria-label="Search">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" id="submitFormBtn" />
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" id="improvement">
            @foreach (var impType in Model?.Improvements?.GroupBy(x => x.Type).ToDictionary(x => x.Key, x => x.ToList()) ?? new Dictionary<ImprovementType, List<Improvement>>())
            {
                <div class="card">
                    <div class="card-header dropdown-toggle" id="heading-@impType.Key" style="padding: 0.1em 1.25em;">
                        <button class="btn btn-link text-left w-100" data-toggle="collapse" data-target="#collapse-@impType.Key" aria-controls="collapse-@impType.Key" aria-expanded="true">
                            @impType.Key.ToString()
                        </button>
                    </div>
                </div>
                <div id="collapse-@impType.Key" class="collapse show" aria-labelledby="heading-@impType.Key" data-parent="#improvement">
                    <div class="card-body border">
                        @foreach (var improvment in impType.Value)
                        {
                            <div>
                                <input type="checkbox" id="selectedBasic" name="selectedBasic" value="@improvment.Id" />
                                <span>@improvment.Name</span>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        @*<p id="rData"></p>*@
        <div class="col-sm-9">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item @(Model.Page==1?"active":"")"><a class="page-link" href="?page=1&take=25">1</a></li>
                    <li class="page-item @(Model.Page==2?"active":"")"><a class="page-link" href="?page=2&take=25">2</a></li>
                    <li class="page-item @(Model.Page==3?"active":"")"><a class="page-link" href="?page=3&take=25">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>

            <div id="theListContent">
                <partial name='_PropertySearchPartial' model='Model' />
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item @(Model.Page==1?"active":"")"><a class="page-link" href="?page=1&take=25">1</a></li>
                    <li class="page-item @(Model.Page==2?"active":"")"><a class="page-link" href="?page=2&take=25">2</a></li>
                    <li class="page-item @(Model.Page==3?"active":"")"><a class="page-link" href="?page=3&take=25">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
}
