@using WebApplicationProperty.Helpers;
@model WebApplicationProperty.Models.Property
@{
    ViewData["Title"] = "Details";
}
<style type="text/css">
    .carousel-inner img {
        width: 100%;
        height: 70%
    }

    #custCarousel .carousel-indicators {
        position: static;
        margin-top: 20px
    }

        #custCarousel .carousel-indicators > li {
            width: 100px
        }

        #custCarousel .carousel-indicators li img {
            display: block;
            opacity: 0.5
        }

        #custCarousel .carousel-indicators li.active img {
            opacity: 1
        }

        #custCarousel .carousel-indicators li:hover img {
            opacity: 0.75
        }

    .carousel-item img {
        width: 100%;
        height: 60%;
    }
</style>

<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>@Model.Name</h3>
                <div class="card mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                                    <!-- slides -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active"> <img src="~/@Model.FileSystemModels.Select(v=>v.FilePath).FirstOrDefault()" alt=""> </div>
                                        @foreach (var image in Model.FileSystemModels)
                                        {
                                            <div class="carousel-item"> <img src="~/@image.FilePath" alt="~/@image.Name"> </div>

                                        }

                                    </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                                    <ol class="carousel-indicators list-inline">
                                        <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="~/@Model.FileSystemModels.Select(v=>v.FilePath).FirstOrDefault()" class="img-fluid"> </a> </li>
                                        @{ int count = 0;}
                                        @foreach (var image in Model.FileSystemModels)
                                        {
                                            count++;
                                            <li class="list-inline-item"> <a id="carousel-selector-@count" data-slide-to="@count" data-target="#custCarousel"> <img src="~/@image.FilePath" class="img-fluid" height="300"> </a> </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <h5 class="card-title">About the unit</h5>
                        <p class="card-text" style="background-color:silver">
                            <b>Property Id:</b> @Model.ProjectId
                            <b>Posted:</b> @TimeHelper.GetRelativeDateTime(Model.Public_date)
                            <b>Last update:</b> @TimeHelper.GetRelativeDateTime(Model.Update_date)
                        </p>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Manager) || User.IsInRole(Roles.Agent))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.PropertyId" class="btn">Edit</a> |
        <a asp-action="Index" class="btn">Back to List</a>
    </div>
}
