@model WebApplicationProperty.Models.Property

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Properties</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price_sqm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price_sqm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Living_area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Living_area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Land_area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Land_area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parking)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parking)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Public_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Public_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Update_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Update_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProperties)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeProperties.TypePropertyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station.StationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
